:root {
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  
  body {
    font-family: var(--font-family-sans-serif);
    background-image: url('../images/cm-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  
.top-nav {
  position: fixed;
  width: 100%;
  background-color: #000066;
  z-index: 1000;
}

.header-container {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo img {
  height: 50px;
  padding-top: 5px;
}

nav {
  display: flex; 
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  flex-direction: row;
  position: relative;
}

ul {
  justify-content: center;
  flex-direction: row;
  display: flex;
  
}

li {
  text-align: center;
  margin: 0 15px;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

li a:hover {
  text-decoration: none;
  color:#8acaef;
  font-weight: bold;
}

.header-profile {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 1%;
  align-items: center;
}

.header-profile img {
  margin: 0px 5px 0px 5px
  
}

.line {
  border-left: 3px solid white;
  height: 40px;
  margin-top: 8px
}

.user-info {
  margin-left: 10px;

}

.user-info a {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-decoration: none;
  color: white;

}

.user-info a:last-child {
  color: 8acaef;
}

li a:target {
  background-color: aqua;
}

section{
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;  
}


.container {
    margin-top: 20px;
    background-color: white;
    border: 2px solid blue;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow:auto;
  }

  table {
    border-collapse: collapse;
    min-width: 32%;
    margin-bottom: 20px;
    margin: 1%;
  }

  th, td {
    border: 1px solid #000066;
    padding: 20px;
    text-align: center;
  }

  th {
    background-color: #000066;
    color: white;
  }
  #addTableBtn {
    background-color: #000066;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  #addTableBtn:hover {
    background-color: #1111d8;
  }
  
  h1{
    margin-top: 20px;
    color: #000066;
  }

#logoutBtn, #btn{
  padding: 20px;
  cursor: pointer;
  background-color: #000066;
  padding: 10px;
  border: none;
  color: white;
}
#logoutBtn:hover{
  background-color: #1111d8;
}
#btn:hover{
  background-color: #1111d8 ;
}
.avatar-container {
  overflow: hidden;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#my-video {
  height: 650px;
  width: 100%;
}

#webcamContainer {
 display: none;
}

.sched {
  padding:50px;
  color: white;
  background-color: #000066;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.sched:hover {
  background-color: #1111d8;
}
.scheduleContainer{
    margin-top: 20px;
    background-color: white;
    border: 2px solid blue;
    padding: 20px;
    border-radius: 20px;
    overflow:auto;
    text-align: center;
}